{% extends "base.html" %}

{% block title %}
Admin Dashboard - Dayflow
{% endblock %}


{% block content %}

<div class="dashboard">

    <h1>
        Welcome, {{ name }} 👋
    </h1>

    <p>
        HR / Admin Dashboard
    </p>


    <div class="dashboard-grid">

        <div class="dashboard-card">

            <h2>Employees</h2>

            <p>
                Manage all employee records.
            </p>

        </div>


        <div class="dashboard-card">

            <h2>Attendance</h2>

            <p>
                Monitor employee attendance.
            </p>

        </div>


        <div class="dashboard-card">

            <h2>Leave Requests</h2>

            <p>
                Approve or reject employee leave requests.
            </p>

        </div>


        <div class="dashboard-card">

            <h2>Payroll</h2>

            <p>
                Manage employee salary information.
            </p>

        </div>

    </div>

</div>

{% endblock %}