{% extends "base.html" %}

{% block title %}
Dayflow - HR Management System
{% endblock %}


{% block content %}

<section class="hero">

    <h1>Dayflow</h1>

    <h2>
        Human Resource Management System
    </h2>

    <p>
        Every workday, perfectly aligned.
    </p>


    <div class="hero-buttons">

        <a href="/login" class="btn">
            Sign In
        </a>

        <a href="/register" class="btn secondary">
            Get Started
        </a>

    </div>

</section>


<section class="features">

    <div class="feature-card">

        <h3>Employees</h3>

        <p>
            Manage employee information and profiles.
        </p>

    </div>


    <div class="feature-card">

        <h3>Attendance</h3>

        <p>
            Track daily employee attendance.
        </p>

    </div>


    <div class="feature-card">

        <h3>Leave</h3>

        <p>
            Apply for and manage leave requests.
        </p>

    </div>


    <div class="feature-card">

        <h3>Payroll</h3>

        <p>
            Manage employee salary information.
        </p>

    </div>

</section>

{% endblock %}